---
---

<header
	class="flex w-full justify-between items-center py-5 bg-transparent text-lg"
>
	<div class="text-3xl font-semibold h-full flex justify-center items-center">
		Logo
	</div>
	<nav class="flex flex-row flex-1 items-center px-10 h-full">
		<ul class="hidden sm:flex flex-row items-center gap-10 text-xl">
			<li>
				<a
					href="#"
					class="button hover:bg-accentYellow/25 hover:underline-offset-4"
					>About me</a
				>
			</li>
			<li>
				<a
					href="#"
					class="button hover:bg-accentYellow/25 hover:underline-offset-4"
					>Portfolio</a
				>
			</li>
		</ul>
	</nav>
	<button
		class="border w-28 min-w-fit border-primary bg-primary text-white hover:bg-accentGreen hover:border-accentGreen hover:text-white py-3 px-5 rounded-full"
		>Contact</button
	>
</header>
